:root {
  --primary-color: #388ae8;
  --seconday-color: #38e7e8;
  --max-width: 990px;
  font-family: "Sora", sans-serif;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.wrap {
  max-width: var(--max-width);
  margin: 0 auto;
}

.title {
  position: relative;
}
.title h1 {
  font-size: clamp(1.2rem, 3vw, 2rem);
}

.title::after {
  content: "";
  position: absolute;
  width: 3.5em;
  height: 0.2em;
  background: var(--seconday-color);
  border-radius: 4em;
}

header {
  display: flex;
  justify-content: end;
  border: 1px solid;
  padding: 1rem;
  align-items: center;
  align-content: center;
}
header .logo {
  font-size: clamp(0.6rem, 2.5vw, 0.8rem);
  margin-right: auto;
  cursor: pointer;
}
header .logo span {
  color: var(--primary-color);
}
header .header-right {
  display: flex;
  align-items: center;
}
header .header-right .search {
  display: block;
}
header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-inline: 20px;
}
header ul li {
  position: relative;
}
header ul li a {
  text-decoration: none;
  font-weight: 400;
  transition-duration: 250ms;
  color: black;
}
header ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  top: -2px;
  left: 0;
  transform: scaleX(0);
  transition-duration: 300ms;
}
header ul li a:hover::after {
  transform: scaleX(1);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero .hero-right > img {
  display: block;
  max-width: 100%;
}
.hero .hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.category {
  --health-bg: url("./Assets/health.jpg");
  --helth-icon: url("./Assets/heart.png");
  --wealth-bg: url("./Assets/wealth.jpg");
  --wealth-icon: url("./Assets/wealth.png");
  --learn-bg: url("./Assets/learn.jpg");
  --learn-icon: url("./Assets/online-learning.png");
  max-width: 100vw;
  background-color: var(--primary-color);
}
.category .category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}
.category .category-container .category-cards-three {
  display: grid;
  grid-auto-flow: column;
  gap: clamp(0.5rem, 2vw, 3rem);
  margin: 0 auto;
}
.category .category-container .category-cards-three > * {
  border: 1px solid;
}
.category .category-container .category-cards-three .card {
  width: min(30vw, 250px);
  height: min(30vw, 250px);
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}
.category .category-container .category-cards-three .card .card-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.3rem, 2vw, 1rem);
  color: black;
  position: absolute;
  bottom: 1%;
  left: 20%;
  padding: 0.5em 1em;
  background-color: rgba(231, 228, 228, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 2em;
}
.category .category-container .category-cards-three .card .card-content .card-label {
  margin-left: 1em;
}
.category .category-container .category-cards-three .card .card-content .icon {
  width: 2em;
}
.category .category-container .category-cards-three .card .card-content .icon img {
  width: 100%;
}
.category .category-container .category-cards-three .wealth-bg {
  background-image: var(--wealth-bg);
  background-size: cover;
  background-position: center;
}
.category .category-container .category-cards-three .health-bg {
  background-image: var(--health-bg);
  background-size: cover;
}
.category .category-container .category-cards-three .learn-bg {
  background-image: var(--learn-bg);
  background-size: cover;
}

.blogpost {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
}
.blogpost .blogpost-container {
  display: grid;
  min-height: 0;
  gap: 3vmin;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.blogpost .blogpost-container .blog {
  max-height: min(50vh, 450px);
  position: relative;
  border-radius: 16px;
  box-shadow: 0 0 10px 1px rgba(70, 64, 64, 0.5);
  outline-offset: 2px;
  overflow: hidden;
}
.blogpost .blogpost-container .blog .post-img {
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 2px 5px black;
  margin: 0 5px;
}
.blogpost .blogpost-container .blog .post-img img {
  display: block;
  max-width: 100%;
  opacity: 9;
}
.blogpost .blogpost-container .blog .post-label {
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(205px);
          backdrop-filter: blur(205px);
  padding: 0.25em 0.5em;
  border-radius: 60px;
}
.blogpost .blogpost-container .blog .post-label img {
  width: 1.5em;
}
.blogpost .blogpost-container .blog .post-content {
  position: relative;
  padding: 0 5px;
}
.blogpost .blogpost-container .blog .post-content .post-title {
  font-size: clamp(0.6rem, 2vw, 1rem);
  padding: 1em 0 0.5em 0;
}
.blogpost .blogpost-container .blog .post-content .post-description {
  height: 100%;
  display: block;
  position: relative;
  text-overflow: clip;
  padding: 0.5rem 0rem;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}
.blogpost .blogpost-container .blog .readmore {
  font-size: clamp(0.6rem, 2vw, 1rem);
  position: absolute;
  bottom: 2%;
  right: 2.5%;
  padding: 0.5em 1em;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
}
.blogpost .blogpost-container .blog .readmore a {
  text-decoration: none;
  color: white;
}
.blogpost .blogpost-container .blog .readmore:hover, .blogpost .blogpost-container .blog .readmore:active {
  background-color: rgba(255, 255, 255, 0.993);
  border: 0.1em solid black;
}
.blogpost .blogpost-container .blog .readmore:hover a, .blogpost .blogpost-container .blog .readmore:active a {
  color: black;
}

.footer {
  max-width: 100vw;
  background-color: var(--primary-color);
  margin-top: 2rem;
}
.footer .footer-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  font-size: clamp(0.6rem, 2.5vw, 0.8rem);
  align-items: center;
  padding: 1rem 0;
}
.footer .footer-container p {
  color: white;
}
.footer .footer-container .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer .footer-container .left span {
  color: var(--seconday-color);
}
.footer .footer-container .middle {
  font-size: clamp(0.6rem, 2.5vw, 0.8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.footer .footer-container .middle .signup-description {
  width: 70%;
}
.footer .footer-container .middle .signup {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  width: 100%;
  justify-content: center;
}
.footer .footer-container .middle .signup .signupbtn,
.footer .footer-container .middle .signup .signuptxt {
  padding: 0.5em 0.8em;
  border: none;
}
.footer .footer-container .middle .signup .signupbtn {
  font-size: clamp(0.6rem, 2.5vw, 0.8rem);
  background-color: chartreuse;
  border-radius: 0.4em 0 0 0.4em;
  cursor: pointer;
}
.footer .footer-container .middle .signup .signupbtn:active {
  background-color: black;
  color: white;
}
.footer .footer-container .middle .signup .signuptxt {
  width: 60%;
  border-radius: 0 0.4em 0.4em 0;
}
.footer .footer-container .right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
.footer .footer-container .right a img {
  display: block;
  transition: transform 800ms ease-out;
}
.footer .footer-container .right a img:hover {
  transform: rotate(360deg);
}
.footer .footer-container .right a img:active {
  background-color: gray;
}

@media (max-width: 640px) {
  header .header-right {
    display: none;
  }
  header .mobileMenu {
    --width: 1rem;
    --height: 0.75rem;
    --line-height: 2px;
    width: var(--width);
    height: var(--height);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  header .mobileMenu .menu-lines {
    width: 100%;
    height: var(--line-height);
    background-color: black;
    border-radius: 20px;
    transition-duration: 300ms;
  }
  header .mobileMenu .menu-lines::after, header .mobileMenu .menu-lines::before {
    content: "";
    width: 100%;
    height: var(--line-height);
    background-color: black;
    border-radius: 20px;
    position: absolute;
  }
  header .mobileMenu .menu-lines::after {
    transform: translateY(calc(var(--height) / 2));
  }
  header .mobileMenu .menu-lines::before {
    transform: translateY(calc(var(--height) / -2));
  }
  header .mobileMenu.close .menu-lines {
    z-index: 14;
    background-color: transparent;
  }
  header .mobileMenu.close .menu-lines::after {
    transform: rotate(45deg);
  }
  header .mobileMenu.close .menu-lines::before {
    transform: rotate(-45deg);
  }
  header .header-right.active {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    background-color: #34779e;
    inset: 0 0 0 30vw;
    padding-top: 25vh;
    padding-left: 2rem;
    z-index: 10;
  }
  @supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
    header .header-right.active {
      background-color: rgba(0, 0, 0, 0.514);
      -webkit-backdrop-filter: blur(12px);
              backdrop-filter: blur(12px);
    }
  }
  header .header-right.active ul {
    padding: 0;
    flex-direction: column;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
  }

  .hero .hero-right {
    grid-row: 1/span 2;
    grid-column: 1/span 2;
    z-index: -1;
  }
  .hero .hero-right > img {
    display: block;
    max-width: 100%;
    opacity: 0.4;
  }
  .hero .hero-left {
    grid-row: 1/span 2;
    grid-column: 1/span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blogpost .blogpost-container {
    grid-template-columns: none;
  }

  .footer .footer-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo social" "signup signup";
    row-gap: 2em;
  }
  .footer .left {
    grid-area: logo;
  }
  .footer .middle {
    grid-area: signup;
  }
  .footer .right {
    grid-area: social;
  }
}/*# sourceMappingURL=style.css.map */