:root {
  --primary-color: #388ae8;
  --seconday-color: #38e7e8;
  --max-width: 990px;
  font-family: "Sora", sans-serif;
}
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
.wrap {
  max-width: var(--max-width);
  margin: 0 auto;
}
.title {
  position: relative;
  h1 {
    font-size: clamp(1.2rem, 3vw, 2rem);
  }
}
.title::after {
  content: "";
  position: absolute;
  width: 3.5em;
  height: 0.2em;
  background: var(--seconday-color);
  border-radius: 4em;
}
//-----------------------------     Header  -------------------------------------\\
header {
  display: flex;
  justify-content: end;
  border: 1px solid;
  padding: 1rem;
  align-items: center;
  align-content: center;
  .logo {
    font-size: clamp(0.6rem, 2.5vw, 0.8rem);
    margin-right: auto;
    cursor: pointer;
    span {
      color: var(--primary-color);
    }
  }
  .header-right {
    display: flex;
    align-items: center;
    .search {
      display: block;
    }
  }

  ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-inline: 20px;
    li {
      position: relative;
      a {
        text-decoration: none;
        font-weight: 400;
        transition-duration: 250ms;
        color: black;
        //  ---> transition for nav links
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: var(--primary-color);
          top: -2px;
          left: 0;
          transform: scaleX(0);
          transition-duration: 300ms;
        }
        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
// _________________________Hero -section________________________________\\
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .hero-right {
    & > img {
      display: block;
      max-width: 100%;
    }
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    font-size: clamp(1.5rem, 3vw, 2rem);
  }
}
// ************************* Category-section***********************\\
.category {
  --health-bg: url("./Assets/health.jpg");
  --helth-icon: url("./Assets/heart.png");
  --wealth-bg: url("./Assets/wealth.jpg");
  --wealth-icon: url("./Assets/wealth.png");
  --learn-bg: url("./Assets/learn.jpg");
  --learn-icon: url("./Assets/online-learning.png");
  max-width: 100vw;
  background-color: var(--primary-color);

  .category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;

    // deals with three cards

    .category-cards-three {
      display: grid;
      grid-auto-flow: column;
      gap: clamp(0.5rem, 2vw, 3rem);
      margin: 0 auto;
      > * {
        border: 1px solid;
      }

      .card {
        width: min(30vw, 250px);
        height: min(30vw, 250px);
        position: relative;

        // styling card
        border-radius: 10px;
        box-shadow: 1px 1px 3px black;

        .card-content {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          font-size: clamp(0.3rem, 2vw, 1rem);
          color: rgb(0, 0, 0);

          position: absolute;
          bottom: 1%;
          left: 20%;

          padding: 0.5em 1em;
          background-color: rgba(231, 228, 228, 0.5);
          backdrop-filter: blur(5px);
          border-radius: 2em;

          .card-label {
            margin-left: 1em;
          }
          .icon {
            width: 2em;
            img {
              width: 100%;
            }
          }
        }
      }

      .wealth-bg {
        background-image: var(--wealth-bg);
        background-size: cover;
        background-position: center;
      }
      .health-bg {
        background-image: var(--health-bg);
        background-size: cover;
      }
      .learn-bg {
        background-image: var(--learn-bg);
        background-size: cover;
      }
    }
  }
}
// ********************************** Blogpost****************************\\

.blogpost {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;

  .blogpost-container {
    display: grid;
    min-height: 0;
    gap: 3vmin;

    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

    .blog {
      max-height: min(50vh, 450px);
      position: relative;

      // border: 2px solid red;
      // background-color: rgba(0, 0, 0, 0.1);
      border-radius: 16px;
      box-shadow: 0 0 10px 1px rgba(70, 64, 64, 0.5);
      // border-bottom: 2px solid black;
      outline-offset: 2px;

      overflow: hidden;

      .post-img {
        max-height: 200px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 16px;
        box-shadow: 0 2px 5px black;

        img {
          display: block;
          margin: 0 5px;
          max-width: 100%;
          opacity: 9;
        }
      }
      //label section
      .post-label {
        display: flex;
        gap: 5px;
        align-items: center;
        position: absolute;
        top: 5px;
        left: 20px;

        font-size: clamp(0.8rem, 2vw, 1rem);
        font-weight: 600;

        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(205px);
        padding: 0.25em 0.5em;
        border-radius: 60px;
        img {
          width: 1.5em;
        }
      }

      .post-content {
        position: relative;
        padding: 0 5px;
        .post-title {
          font-size: clamp(0.6rem, 2vw, 1rem);
          padding: 1em 0 0.5em 0;
        }
        .post-description {
          height: 100%;
          display: block;
          position: relative;
          text-overflow: clip;
          padding: 0.5rem 0rem;
          font-size: clamp(0.7rem, 2vw, 0.9rem);

          // &::after {
          //   content: "";
          //   position: absolute;
          //   bottom: 0;
          //   background: linear-gradient(
          //     to bottom,
          //     rgba(255, 255, 255, 0),
          //     rgb(250, 255, 251)
          //   );
          //   width: 100%;
          //   height: 100%;
          // }
        }
      }
      .readmore {
        font-size: clamp(0.6rem, 2vw, 1rem);
        position: absolute;
        bottom: 2%;
        right: 2.5%;
        padding: 0.5em 1em;
        background-color: black;
        border-radius: 50px;
        cursor: pointer;
        a {
          text-decoration: none;
          color: white;
        }
        &:hover,
        &:active {
          background-color: rgba(255, 255, 255, 0.993);
          a {
            color: black;
          }
          border: 0.1em solid black;
        }
      }
    }
  }
}

// __________---------____________-Footer section _-----_-____--_____--\\

.footer {
  max-width: 100vw;
  background-color: var(--primary-color);
  margin-top: 2rem;
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    font-size: clamp(0.6rem, 2.5vw, 0.8rem);
    align-items: center;

    p {
      color: white;
    }
    padding: 1rem 0;
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      span {
        color: var(--seconday-color);
      }
    }
    .middle {
      font-size: clamp(0.6rem, 2.5vw, 0.8rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5em;

      .signup-description {
        width: 70%;
      }

      .signup {
        display: flex;
        flex-direction: row;
        gap: 0.2em;
        width: 100%;
        justify-content: center;

        .signupbtn,
        .signuptxt {
          padding: 0.5em 0.8em;
          border: none;
        }

        .signupbtn {
          font-size: clamp(0.6rem, 2.5vw, 0.8rem);
          background-color: chartreuse;
          border-radius: 0.4em 0 0 0.4em;
          cursor: pointer;
          &:active {
            background-color: black;
            color: white;
          }
        }
        .signuptxt {
          // max-width: min(200px, 80vw);
          width: 60%;
          border-radius: 0 0.4em 0.4em 0;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1em;

      a img {
        display: block;
        transition: transform 800ms ease-out;
        &:hover {
          transform: rotate(360deg);
        }
        &:active {
          background-color: gray;
        }
      }
    }
  }
}

// ----------------------------------- All media Quieries ----------------------------------- \\
@media (max-width: 640px) {
  header {
    .header-right {
      display: none;
    }
    .mobileMenu {
      // container defining height and width of menu icon
      --width: 1rem;
      --height: 0.75rem;
      --line-height: 2px;
      // vars

      width: var(--width);
      height: var(--height);
      
      

      cursor: pointer;

      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      .menu-lines {
        width: 100%;

        height: var(--line-height);
        background-color: black;
        border-radius: 20px;
        transition-duration: 300ms;

        &::after,
        &::before {
          content: "";
          width: 100%;
          height: var(--line-height);
          background-color: black;
          border-radius: 20px;
          position: absolute;
        }
        &::after {
          transform: translateY(calc(var(--height) / 2));
        }
        &::before {
          transform: translateY(calc(var(--height) / -2));
        }
      }
    }
    .mobileMenu.close {
      .menu-lines {
        z-index: 14;
        background-color: transparent;
        &::after {
          transform: rotate(45deg);
        }
        &::before {
          transform: rotate(-45deg);
        }
      }
    }

    .header-right.active {
      display: block;
      display: flex;
      flex-direction: column;
      gap: 20px;

      position: fixed;
     background-color: rgb(52, 119, 158);
      @supports (backdrop-filter: blur(12px)) {
        background-color: rgba(0, 0, 0, 0.514);
        backdrop-filter: blur(12px);
      }

      inset: 0 0 0 30vw; // problem prone area
      padding-top: 25vh;
      padding-left: 2rem;
      z-index: 10;

      ul {
        padding: 0;
        flex-direction: column;
        font-size: 1.25rem;
        justify-content: center;
        align-items: center;
      }
    }
  }

  //-------------------------------hero -section ----------------\\
  .hero {
    .hero-right {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
      z-index: -1;

      & > img {
        display: block;
        max-width: 100%;
        opacity: 0.4;
      }
    }
    .hero-left {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  //  >>>>>>>>>>>>>>Blog section<<<<<<<<<<\\
  .blogpost {
    .blogpost-container {
      grid-template-columns: none;
    }
  }

  // ************Footer section **********\\
  .footer {
    .footer-container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "logo social"
        "signup signup";
      row-gap: 2em;
    }
    .left {
      grid-area: logo;
    }
    .middle {
      grid-area: signup;
    }
    .right {
      grid-area: social;
    }
  }
}
